{% extends 'posts/base.html' %} {% block content %}
    <h1 class="display-4">Latest Posts</h1>
        {% for post in posts %}
        <div class="card mb-3">
            <div class="card-body">
                <h2 class="card-title">{{post.title}}</h2>
                <p class="card-text">{{post.text}}</p>
                <p class="text-muted">{{post.created_date}}</p>
                
            </div>
        </div>
        <a href="{% url 'post_edit' pk=post.pk %}" class="btn btn-sm btn-outline-primary">Edit Post</a>
    {% endfor %} 
{% endblock %}
        